.main{
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0deg, white, aliceblue);
}
.header{
    color: var(--blue);
    font-weight: 500;
}
.gear {
    cursor: pointer;
}