:root{
    --blue: #4285f4;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--blue);
}
table,th, td{
    border: 1px solid black;
}
table{
    margin: 1rem;
    text-align: center;
}
th,td{
    padding: 0.4rem 0.8rem;
}

@media only screen and (max-width: 426px) {
    table {
        margin: 1rem 0;
        font-size: 12px;
    }
        th,
        td {
            padding: 0.1rem 0.2rem;
        }
}