.main {
  height: 100%;
}
.loading,
.nolocation {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nolocation {
  opacity: 0.5;
  font-weight: 500;
}
.locationdata {
  margin: 1rem;
}
.locationname{
    font-weight: 500;
    font-size: 18px;
}
.locationdetails{
    margin: 1rem 0 0 0;
}
.p{
    opacity: 0.6;
    font-size: 14px;
}
.currency, .weather{
    margin: 0.8rem 0 0 0;
}
.currency{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.label{
    font-weight: 500;
}
.heading{
    color: var(--blue);
    display: flex;
    align-items: center;
}
.value{
    opacity: 0.9;
}
.section{
    margin: 0.2rem 0;
}
.update{
    cursor: pointer;
    margin-left: 3rem;
    font-weight: 400;
    font-size: 14px;
}
.star{
    color: red;
    font-size: 10px;
    margin-left: 1rem;
}

@media only screen and (max-width: 426px) {
    .star {
            color: red;
            font-size: 11px;
            margin-left: 0.5rem;
        }
}