.main {
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
  padding: 1rem;
  background-image: linear-gradient(0deg, aliceblue, white);
  display: flex;
  justify-content: flex-end;
}
.credit {
  font-size: 12px;
}
.link {
  font-size: medium;
}
